Options -Indexes

# Mengaktifkan mod_rewrite
RewriteEngine On

# Mengarahkan ke login jika URL yang diminta tidak sesuai
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ auth/login.html [L]


